@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a {

	margin:0;

	padding:0;

	outline:0

}

fieldset,img {

	border:0

}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {

	font-style:normal;

	font-weight:400;

}

h1,h2,h3,h4,h5,h6 {

	font-size:100%;

	font-weight:400

}

a {

	text-decoration:none;

	transition:0.2s;

	color:#898989;

}

a:hover {

	/*text-decoration:underline;*/

	text-decoration : none;

	/*color:#666;*/

}

abbr,acronym {

	border:0;

	font-variant:normal

}

input,button,textarea,select,optgroup,option {

	font-family:inherit;

	font-size:inherit;

	font-style:inherit;

	font-weight:inherit

}

input,button,textarea,select {

	*font-size:100%;

	margin: 0;

	vertical-align: baseline;

	*vertical-align: middle;

}



button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

table {

	border-collapse:collapse;

	border-spacing:0

}

ol,ul,li {

	list-style:none

}

ul,li{

	list-style-type:none;

/*	list-style-position:inside;*/

}



legend { border: 0; *margin-left: -7px; padding: 0; }



label { cursor: pointer; }



select,input,img{

	vertical-align:middle

}



img{border:none;}



input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }



textarea { overflow: auto; vertical-align: top; resize: vertical; }



/*禁止FF等浏览器给textarea增加可拖拽大小的设置*/

textarea { resize: none; }





/*修复火狐按钮文字不垂直居中的bug*/

input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {

	border:none;

	padding:0;

}



@charset "utf-8";



* html body{

	/* IE6 fixed box hack */

	_background-image:url(about:blank);

	_background-attachment:fixed

}

 

body {

	font:12px/1.5 "微软雅黑";

	color:#898989;

	background:#f3f3f3;

}

.clearFix{

	zoom:1;	

}

.clearFix:after{

	content: "cwh";

	line-height: 0;

	margin: 0;

	clear: both;

	height: 0;

	display: block;

	visibility: hidden;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

	display: block;

}

.fn_left{

	float:left;	

}

.fn_right{

	float:left;	

}

/*end base.css*/

/*=====================member.css=====================*/

.df_member_banner_wper{width:100%;height:168px;background:url(../images/membanner.png) no-repeat scroll center center;}
.df_member_banner_wper1{width:100%;height:123px;background:url(../images/membanner.png) no-repeat scroll center top;}

.df_member_banner{width:1000px;margin:0 auto;overflow:hidden;height:168px;}



.df_member_banner_left{width:95px;height:95px;float:left;padding-top:20px;padding-left:20px;padding-bottom:8px;}

.df_member_banner_right{float:left;overflow:hidden;}

.df_member_banr_top{color:#ffffff;font-size:12px;border-bottom:1px solid #b7d0ea;width:885px;padding-top:30px;padding-bottom:10px;text-indent:15px;overflow:hidden;}

.df_member_banr_top em{display:inline-block;padding-top:10px;float: left;}

.df_member_banr_top strong{color:#ffffff;font-weight:600;}

.df_member_banr_top a{display:inline-block;background:url(../images/meminformation.jpg) no-repeat scroll 0 0;width:127px;height:22px;color:#898989;font-size:12px;text-indent:40px;margin-left:10px;float:left;cursor:pointer;}

.df_member_banr_bottom{padding-top:5px;clear:both;padding-bottom:8px;}

.df_member_banr_bottomul{overflow:hidden;}

.df_member_banr_bottomul li{border-right:1px solid #b7d0ea;float: left;padding:0 15px;height:26px;}

.df_member_banr_bottomul li span{color:#ffffff;font-size:12px;}

.df_member_banr_bottomul li em{color:#ff9900;font-size:12px;}

.df_member_banr_bottomul li a{color:#464f00;font-size:12px;padding:0 5px;}

.df_member_banr_bottomul .df_member_brnone{border-right:none;}

.df_member_menue{clear:both;overflow:hidden;}

.df_member_menueul{overflow:hidden;}

.df_member_menueul li{float:left;}

.df_member_lipd{padding:0 20px;}

.df_member_menueul li a{display:block;width:107px;height:46px;color:#898989;font-size:14px;text-align: center;line-height:46px;}

.df_member_menueul li a:hover{color:#2ea6e2;background:url(../images/memicon01.jpg) no-repeat scroll top center #f3f3f3;}

.df_member_menueul .df_member_menli_current{color:#2ea6e2;background:url(../images/memicon01.jpg) no-repeat scroll top center #f3f3f3;}

.df_member_content_wper{width:100%;}

.df_member_content{width:1000px;margin:0 auto;padding-top:20px;}



.df_member_confir{width:960px;padding:19px 19px 40px 19px;border:1px solid #e5e4e2;background-color:#ffffff;overflow:hidden;}

.df_member_confir_left{width:720px;float:left;}

.df_member_confl_money{background-color:#eaeaea;padding:20px 0 20px 20px;_height:58px;}

.df_member_confl_moneyul1{overflow:hidden;padding-bottom:10px;_height:30px;}

.df_member_confl_moneyul1 li{float:left;width:140px;}

.df_member_confl_moneyul1 li strong{color:#898989;font-size:14px;}

.df_member_confl_moneyul1 li em{color:#ff9900;font-size:16px;}

.df_member_confl_moneyul1 li span{color:#333;font-size:16px;}

.df_member_confl_moneyul2{clear:both;overflow:hidden;}

.df_member_confl_moneyul2 li{width:140px;float:left;text-indent:20px;}

.df_member_confl_itembg1{background:url(../images/memicon02.jpg) no-repeat scroll left center;}

.df_member_confl_itembg2{background:url(../images/memicon03.jpg) no-repeat scroll left center;}

.df_member_confl_itembg3{background:url(../images/memicon04.jpg) no-repeat scroll left center;}

.df_member_confl_itembg4{background:url(../images/memicon05.jpg) no-repeat scroll left center;}

.df_member_confl_itembg5{background:url(../images/memicon06.jpg) no-repeat scroll left center;}

.df_member_confl_shouyi{clear:both;overflow:hidden;}

.df_member_confl_syul1{padding:40px 0 10px 0;background:url(../images/memicon07.jpg) no-repeat scroll 0 bottom;overflow:hidden;_height:30px;}

.df_member_confl_syul1 li{float:left;}

.df_member_confl_syul1_item1{color:#333;font-size:18px;font-weight:500;}

.df_member_confl_syul1_item2{color:#444;font-size:14px;padding:0 10px;line-height:25px;font-weight:500;}

.df_member_confl_syul1_item3{padding:0 10px;line-height:25px;}

.df_member_confl_syul1_item3 span{color:#666666;font-size: 14px;display:inline-block;width:60px;height:23px;text-align: center;line-height:23px;cursor:pointer;}

.df_member_confl_syul1_item3 .df_member_sycurrent{color:#ffffff;background-color:#2ea6e2;}

.df_member_confl_syul1_item5{padding-left:298px;line-height:26px;}

.df_member_confl_syul1_item5 a{color:#2ea6e2;font-size:14px;}









.df_member_confir_right{width:220px;margin-left:20px;_display:inline;float:left;}

.df_member_confr_fir{width:190px;padding:28px 15px;background-color:#f0f7fa;}

.df_member_confr_fir a{width:88px;height:36px;line-height:36px;display:inline-block;color:#ffffff;font-size:16px;font-weight:500;_width:80px;_float:left;_display:inline;}

.df_member_confr_firbg1{background:url(../images/memfirbg1.jpg) no-repeat scroll 15px center #ff9900;text-indent:30px;}

.df_member_confr_firbg2{background:url(../images/memfirbg2.jpg) no-repeat scroll 12px center #2ea6e2;margin-left:10px;text-indent:35px;}

.df_member_confr_sec{width:220px;height:54px;color:#ffffff;font-size:12px;line-height:54px;text-indent:15px;margin-top:30px;}

.df_member_confr_sec span{color:#ffffff;font-size:32px;}

.df_member_confr_secbg1{background:url(../images/huikuan.jpg) no-repeat scroll 150px center #fdb200;}

.df_member_confr_secbg2{background:url(../images/huikuan2.jpg) no-repeat scroll 150px center #91c24d;}

.df_member_confr_secbg3{background:url(../images/huikuan3.jpg) no-repeat scroll 150px center #2ea6e2;}




/*20160929修改*/


.df_member_consec_firul1{padding:10px 15px 10px 0;overflow:hidden;_height:30px;}

.df_member_consec_firul1 li{float:left;}

.df_member_consecfirul1_item1{color:#898989;font-size:18px;padding-right:660px; font-weight:bold; }

.df_member_consecfirul1_item2{color:#005ea7;font-size:14px;padding-right:20px;text-indent:23px;}

.df_member_consecfirul1_itembg1{background:url(../images/mempic01.jpg) no-repeat scroll left center;}

.df_member_consecfirul1_itembg2{background:url(../images/mempic02.jpg) no-repeat scroll left center;}

.df_member_consec_firul2{overflow:hidden;clear:both;_height:30px; margin:10px 0 30px;}

.df_member_consec_firul2 li{padding:3px 15px;color:#2ea6e2;font-size:14px;float:left;cursor:pointer; background:#ff9852; color:#fff; float:left; margin-right:10px; border-radius:5px; }
.df_member_consec_firul2 .df_member_cfl_cur{color:#fff; background:#ff7512;}

.df_member_consec_firul2 li:hover{color:#fff; background:#ff7512; }



.df_member_w90{width:90px;}

.df_member_w200{width:200px;}

.df_member_w160{width:160px;}

.df_member_w260{width:260px;}

.df_member_w150{width:150px;}



.df_member_csf_boxul2 li span{color:#fdb200;}

.df_member_csf_pic{text-align: center;padding:20px 0;}

.df_member_csf_pic img{margin:0 auto;}

.df_member_rightpic{position:absolute;top:20px;left:-65px;}







/*******cwh_df_member********/

.df_member_main{

	background:url(../images/shadow.png) no-repeat center top;

	overflow:hidden;

}

.df_member_main_in {

	width:1000px;

	margin:0 auto;

	margin-top:32px;

	background:white;

	border:1px solid #e5e4e2;

}

/**subMenu**/

.df_member_subMenu {

	width:160px;

	float:left;

	color:#666666;

	position:relative;

	border-right:1px solid #e5e4e2;

}

.df_member_subMenu_title {

	width:179px;

	height:52px;

	line-height:60px;

	background:url(../images/prompt.png) no-repeat center center;

	position:relative;

	left:-7px;

	margin-top:20px;

	text-indent:65px;

	color:white;

	font-weight:bold;

	font-size:16px;

}

.df_member_submenu_content {

	overflow:hidden;

	margin-top:13px;

}

.df_member_submenu_content li.df_member_current {

	width:100%;

	border-bottom:1px solid #e5e4e2;

}

.df_member_submenu_content li.df_member_current h3{

	transition: all 0.2s ease-in 0.1s;

}

.df_member_submenu_content li.df_member_current_1 h3{

	

	background:url(../images/clock.png) no-repeat 24px center;	

}

.df_member_submenu_content li.df_member_current_2 h3{

	

	background:url(../images/cmm_invest1.png) no-repeat 24px center;	

}

.df_member_submenu_content li.df_member_current_3 h3{

	

	background:url(../images/money.png) no-repeat 24px center;	

}

.df_member_submenu_content li.df_member_current_4 h3{

	

	background:url(../images/lighted.png) no-repeat 24px center;	

}

.df_member_submenu_content li.df_member_current_5 h3{

	

	background:url(../images/voice.png) no-repeat 24px center;	

}

.df_member_submenu_content li.df_member_current_6 h3{

	background-color:#84b923;

	background:url(../images/manager.png) no-repeat 24px center;	

}

.df_member_submenu_content li.current.df_member_current_6 h3{

	

	background:url(../images/clock_w.png) no-repeat 24px center;	

	

}

.df_member_submenu_content li.current h3 a{

	background:url(../images/triangle_wd.png) no-repeat 138px center;	

	color:white;

	transition:all 0.2s ease-in-out 0.1s;



}



.df_member_submenu_content li.current.df_member_current_1 h3{

	

	background:url(../images/clock_w.png) no-repeat 24px center;	

	background-color:#84b923;

}

.df_member_submenu_content li.current.df_member_current_2 h3{

	

	background:url(../images/cmm_invest.png) no-repeat 24px center;	

	background-color:#84b923;

}

.df_member_submenu_content li.current.df_member_current_3 h3{

	

	background:url(../images/money_w.png) no-repeat 24px center;	

	background-color:#84b923;

}

.df_member_submenu_content li.current.df_member_current_4 h3{

	

	background:url(../images/lighted_w.png) no-repeat 24px center;	

	background-color:#84b923;

}

.df_member_submenu_content li.current.df_member_current_5 h3{

	

	background:url(../images/voice_w.png) no-repeat 24px center;	

	background-color:#84b923;

}

.df_member_submenu_content li.current.df_member_current_6 h3{

	

	background:url(../images/manager_w.png) no-repeat 24px center;	

	background-color:#84b923;

}



.df_member_submenu_content li.current h3 a{

	background:url(../images/triangle_wd.png) no-repeat 138px center;	

	color:white;

		transition:all 0.2s ease-in-out 0.1s;



}

.df_member_submenu_content li h3{

	font-weight:normal;

	height:45px;

	line-height:45px;

	font-size:14px;

	color:white;

	background:url(../images/clock.png) no-repeat 24px center;

	text-indent:55px;

}

.df_member_submenu_content li h3 a{

	display:block;

	background:url(../images/triangle.png) no-repeat 138px center;	

}



.df_member_submenu_ul {

	overflow:hidden;

	display:none;	

	background: #f9f9f9;

}

.df_member_submenu_ul li {

	width:100%;

	height:45px;

	line-height:45px;

	text-indent:65px;

	background:url(../images/triangle.png) no-repeat 55px center;

	border-bottom:1px solid #e5e4e2;

}

.df_member_submenu_ul li:last-child {

	border-bottom:none;

}



.df_member_submenu_ul li.current {

	border-left:3px solid #2ea6e2;

	text-indent:62px;

	transition: all 0.2s ease-in-out 0.1s;

	background:url(../images/triangle_c.png) no-repeat 52px center;

}

.df_member_submenu_ul li.current a{

	color:#2ea6e2;

}



/***df_member_content**/

.df_member_content_r {

	float:left;

	width:780px;

	padding:20px 20px 80px;

	background:white url(../images/bar.png) no-repeat left top;

}

.df_member_content_r_title {

	height:45px;

	color:#444444;

	font-size:16px;

	line-height:45px;	

	font-weight:bold;

	border-bottom:2px solid #e0e0e0;

}

.df_member_content_box_title {

	height:45px;

	line-height:45px;

	color:#898989;

	font-size:14px;

	padding-bottom:5px;

}

.df_member_moneyBox_left {

	float:left;

	width:365px;

}

.df_member_moneyBox_ul {

		width:275px;

}

.df_member_moneyBox_ul li {

	color:#898989;

	height:35px;

	margin-bottom:7px;

	background:#f1f1f1;

}

.df_member_moneyBox_ul dl {

	overflow:hidden;	

}

.df_member_moneyBox_ul dl dt{

	width:34px;

	height:34px;

	float:left;

}

.df_member_moneyBox_ul dl dd{

	padding:0px 15px 0px 48px;

	height:34px;

	line-height:34px;

}

.df_member_moneyBox_ul .df_member_s {

	float:right;	

}



.yellow_3{

	color:#ff9900;

}

.df_member_content_box_title .yellow_3 {

	font-size:18px;	

}

.df_member_moneyBox_right {

	float:left;	

}

.df_member_content_moneyUl {

	overflow:hidden;

	width:100%;	

	background:#f1f1f1;

	margin-bottom:15px;

}

.df_member_content_moneyUl li{

	padding-left:8px;

	width:250px;

	float:left;

	height:35px;

	line-height:35px;

	color:#666666;

}



/**充值页面**/

.df_member_money_input {

	padding-top:35px;

	padding-bottom:50px;

	overflow:hidden;

	height:55px;

	line-height:55px;

	border-bottom:1px dashed #ececec;

}

.df_member_money_input label {

	float:left;	

	color:#333333;

	font-size:18px;

	padding-right:5px;

	line-height:55px;

}

.df_member_inputB {

	width:282px;

	padding:0px 45px 0px 5px;

	line-height:45px;

	height:50px;

	outline:none;

	background:url(../images/money_input.png) no-repeat center left;

	border:none;

}

.confirmBtn,.returnBtn{

	margin-right:12px;

}

.confirmBtn:hover,.returnBtn:hover{

	opacity:0.7;

	filter: alpha(opacity=70);

	-moz-opacity:0.7;

	-webkit-opacity:0.7;

	transition:all 0.2s linear 0.1s;

	padding-left:5px;

}

.warmPrompt {

	padding-top:	30px;

}

.warmPrompt-title {

	line-height:30px;	

	color:black;

}

.warmPrompt li {

	width:100%;

	line-height:22px;

	padding-left:10px;

}

.colorBlue_m{

	color:#2ea6e2;

}



/**绑定银行卡**/

.df_member_bank_p {

	line-height:25px;	

}







/*==============投资奖励 award1.css==================*/

.df_member_jfh2{   border-bottom: 2px solid #e0e0e0;

    color: #444444;

    font-size: 16px;

    font-weight: bold;

    height: 45px;

    line-height: 45px;clear:both;}

.df_member_jftext{padding:20px 0;background-color:#fffbe2;border:1px solid #e0e0e0;margin-top:20px;}    

.df_member_jftext ul{overflow:hidden;height:80px;}

.df_member_jftext ul li{text-align:center;border-right:1px solid #e0e0e0;float:left;}

.df_member_jftextzw238{width:238px;}

.df_member_jftextzw178{width:178px;}

.df_member_jftext .df_member_jftext_brnone{border-right:none;}

.df_member_jftext ul li span{color:#898989;font-size:16px;display:block;padding:5px 0;}

.df_member_jftext .df_member_jftext_curspan{color:#ff9900;}

.df_member_jflist{clear:both;overflow:hidden;margin-top:20px;}

.df_member_jflistul1{height:40px;border-bottom:1px solid #e0e0e0;}

.df_member_jslistulbg1{background-color:#eaeaea;font-weight:600;}

.df_member_jflistul1 li{float:left;line-height:40px;color:#666666;font-size:13px;text-align: center;}

.df_member_zw230{width:230px;}

.df_member_zw130{width:130px;}

.df_member_jflistul1 .df_member_jftext_curspan{color:#ff9900;}

.df_member_jfjlcon{margin-top:40px;}

.df_member_jfjlconh2{ border-bottom: 2px solid #e0e0e0;

    color: #444444;

    font-size: 16px;

    font-weight: bold;

    height: 45px;

    line-height: 45px;}

.df_member_jfjlconh2 span{display:inline-block;color:#444444;font-size:16px;}

.df_member_jfjlconh2 a{display:inline-block;color:#ffffff;font-size:14px;width:145px;height:38px;line-height:36px;margin-left:530px;border-radius:4px;background:url(../images/zaw01.jpg) no-repeat scroll 5px 5px #84b923;text-indent:30px;}

.df_member_jfjllist{clear:both;margin-top:20px;overflow:hidden;}

.df_member_zw170{width:90px;}

.df_member_zw110{width:110px;}


.df_member_zw180{width:200px;}
.df_member_hqjf{margin-top:30px;}

.df_member_hqjf h3{color:#444444;font-size:16px;padding-bottom:10px;}

.df_member_hqjf p{color:#b3afaf;font-size:12px;line-height:25px;}



/*==================awaed2.css==========*/

.df_member_tjid{overflow:hidden;margin-top:20px;}

.df_member_tjidleft{width:340px;float: left;padding-right:20px;}

.df_member_tjidleft h4{color:#444444;font-size:14px;font-weight:600;line-height:25px;}

.df_member_tjidlcon{overflow:hidden;}

.df_member_tjidlconspan1{width:150px;color:#cc0000;font-size:14px;text-align: center;display:inline-block;height:40px;line-height:40px;float: left;}

.df_member_tjidlconspan2{width:155px;color:#898989;font-size: 12px;text-align: center;display:inline-block;height:40px;line-height:40px;float:left;border:1px solid #ccc;}

.df_member_tjidcontext{width:180px;float:left;height:40px;}

.df_member_tjidbtn{width:140px;height:40px;line-height:40px;text-align: center;color:#ffffff;font-size:12px;background-color:#2ea6e2;display:block;clear:both;border-radius:3px;margin-top:10px;}

.df_member_awtip{width:708px;border:1px solid #fce9c8;background-color:#fdf8ee;padding:15px 0 0 10px;margin-top:40px;}

.df_member_awtip h5{color:#ff6600;font-size:16px;}

.df_member_awtip p{color:#666;font-size: 12px;line-height:25px;}

/*end awad2.css*/

/*===========我的债权转让.css==========*/

.df_member_investlist1{overflow:hidden;margin-top:20px;}

.df_member_investlist1  ul{overflow:hidden;border-bottom:1px solid #e0e0e0;}



.df_member_investlist1  ul li{float:left;line-height:40px;text-align:center;color:#898989;font-size:13px;}

.df_member_investlist1  ul li span{color:#ffa126;}

.df_member_investlist1  ul li a{color:#84b923;}

.df_member_zw80{width:80px;}

.df_member_zw180{width:200px;}

.df_member_zw110{width:110px;}
.df_member_zw120{width:120px;}

.df_member_zpic {text-align: center;}

.df_member_zinvesttip{width:758px;border:1px solid #e3b367;background-color:#fffadc;padding:15px 0 0 10px;margin-top:40px;padding-bottom: 10px;}

.df_member_zinvesttip h4{font-size:14px;color:#84b923;font-weight:13px;}

.df_member_zinvesttip p{line-height:25px;color:#666666;font-size:12px;}

.df_member_zinvesttip p span{color:#84b923;}

/*invest2.css*/

.df_member_zfir{overflow:hidden;}

.df_member_zfirtime{padding-top:20px;}

.df_member_zfirul {overflow:hidden;float:left;}

.df_member_zfirul li{float:left;padding:0px 5px;color:#444;font-weight:600;line-height:30px;}

.df_member_zfirul li span{display:inline-block;padding:0px 6px;border-radius:3px;color:#666;font-weight:normal;}

.df_member_zfirul li span:hover{background-color:#30a7e2;color:#ffffff;}

.df_member_zfirul li .df_member_zcur{background-color:#30a7e2;color:#ffffff;}

.df_member_zfirdate{float:left;padding-left:40px;}

.df_member_zfirdatespan{width:60px;text-align:right;color:#444444;font-weight:600;display:inline-block;}

.df_member_zfirdateinput1{width:170px;height:27px;background:url(../images/zin02.png) no-repeat scroll right 0;border:1px solid #ccc;border-radius:3px;}

.df_member_zpaixu{float:left;padding-left:50px;}

.df_member_zpaixu select{width:170px;height:25px;border:1px solid #ccc;}

.df_member_zsec{overflow:hidden;margin-top:20px;}

.df_member_zsecul1{height:45px;overflow:hidden;background-color:#eaeaea;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}

.df_member_zsecul1 li{float:left;color:#898989;font-size:13px;font-weight:600;line-height:45px;text-align: center;}

.df_member_zw170{width:90px;}

.df_member_zw80{width:100px;}

.df_member_zsecpro1{clear:both;overflow:hidden;}

.df_member_zsecul2{height:45px;overflow:hidden;border-bottom:1px solid #e0e0e0;}

.df_member_zseculbg{background-color:#f6fbfd;}

.df_member_zsecul2 li{float:left;color:#898989;line-height:45px;text-align: center;}

.df_member_zsecul2span1{color:#ff9900;}



.df_member_zsecul2a1{color:#a1c866;}

.df_member_zsecul2qishu{color:#898989;cursor:pointer;display:inline-block;}

.df_member_zsecdetail{clear:both;background-color:#f6fbfd;_height:160px;}

.df_member_zsecdetailul{height:40px;overflow:hidden;border-bottom:1px solid #e0e0e0;clear:both;}

.df_member_zsecdetailulbg{background-color:#2ea6e2;color:#ffffff;}

.df_member_zsecdetailul li{float:left;line-height:40px;text-align: center;}

.df_member_zsecdetailul li span{color:#ff9900;}

.df_member_ztip2{width:100%;height:50px;background-color:#fce7bd;border:1px solid #f8c66e;border-radius:3px;margin-top:30px;clear:both;}

.df_member_ztip2 span{color:#44ab4b;font-size: 18px;display:inline-block;float:left;padding-left:30px;margin-top:10px;margin-right:10px;}

.df_member_ztip2 p{color:#777777;font-size: 14px;float:left;padding-top:15px;margin-right:150px;}

.df_member_ztip2 a{display:block;width:87px;height:35px;line-height:35px;color:#ffffff;font-size:14px;text-align: center;float:left;background-color:#2ea7e0;border-radius:3px;margin-top:8px;}

/*end*/

/*=============message.css=================*/

.df_member_jfactive{padding-top:20px;}

.df_member_jfacul{overflow:hidden;}

.df_member_jfacul li{float:left;padding:0 5px;height:30px;line-height:30px;_display:inline;}

.df_member_jfacul li span{display:inline-block;color:#0088cc;font-size:14px;padding:0 10px;border-radius:3px;cursor:pointer;}

.df_member_jfacul .df_member_jfaccur{color:#ffffff;background-color:#0088cc;}

.df_member_jfacul li a{color:#0088cc;display:inline-block;margin-left:485px;}

.df_member_jfactivecon{ clear:both;margin-top:10px;}

.df_member_jfactiveconul1{overflow:hidden;height:40px;border-bottom:1px solid #e0e0e0;color:#898989;clear:both;}

.df_member_jfactiveconulbg{background-color:#f3f3f3;font-weight:600;}

.df_member_jfactiveconul1 li{float:left;line-height:40px;text-align:left;font-size: 13px;}

.df_member_jfactiveconul1 li a{color:#00648d;font-weight:600;}

.df_member_zw120{width:120px;}

.df_member_zw500{width:500px;}

.df_member_zw150{width:150px;}

/*弹出框样式*/

.df_member_ztckcon{width:535px;background-color:#ffffff;padding:20px 20px;}

.df_member_ztckcon h2{color:#444;font-size:18px;border-bottom: 1px solid #95A5A6;padding-bottom: 10px;}

.df_member_ztckcon h2 span{color:#ccc;font-size:18px;display:inline-block;float:right;cursor:pointer;}

.df_member_ztckcon h4{color:#444;font-size:13px;padding:25px 0;}

.df_member_ztckcon p{color:#444;font-size:13px;line-height:25px;}

.df_member_ztckcon h6{color:#333;font-size:13px;text-align:right;}

#df_member_msgDiv {

    z-index:10001;

    width:600px; padding-bottom:50px;

    background:white;

    position:absolute;

    left:50%;

    top:50%;

    font-size:12px;

    margin-left:-225px;

    display: none; border-radius:5px;

}

#df_member_bgDiv {

    display: none;

    position: absolute;

    top: 0px;

    left: 0px;

    right:0px;

    background-color: #000;

    opacity:0.5;

    filter:Alpha(opacity=50);



}

#df_member_msgDiv2 {

    z-index:10001;

    width:600px; padding-bottom:50px;

    background:white;

    position:absolute;

    left:50%;

    top:50%;

    font-size:12px;

    margin-left:-225px;

    display: none; border-radius:5px;

}

#df_member_bgDiv2 {

    display: none;

    position: absolute;

    top: 0px;

    left: 0px;

    right:0px;

    background-color: #000;

    opacity:0.5;

    filter:Alpha(opacity=50);



}

.cmm_member_msgul li{ padding:15px 0;}

.cmm_member_msgul li span{ padding-right:15px;}

/*end 弹出框样式*/

/*实名认证样式开始*/

#df_member_namecheck{z-index:10001;

    width:455px;

    _height:320px;

    padding-bottom:20px;

    background:white;

    border:#f8f8f9 1px solid;

    position:absolute;

    left:50%;

    top:30%;

    font-size:12px;

    margin-left:-225px;

    display: none;

    border-radius:5px;}

.df_member_nch1{height:65px;line-height:65px;border-bottom:1px solid #d7dadb;}    

.df_member_nch1 span{color:#444;font-size:18px;padding-left:20px;}

.df_member_nch1 img{padding-left:300px;cursor:pointer;}

.df_member_ncp{color:#999;font-size:14px;padding-left:20px;padding-top:10px;}

.df_member_ncform{padding:10px 0;}

.df_member_ncform div{padding:5px 0;}

.df_member_ncform label{width:110px;height:35px;text-align:center;line-height:35px;color:#444;font-size:14px;display:inline-block;}

.df_member_ncform input{width:255px;height:35px;border:1px solid #ececec;border-radius:3px;color:#666666;font-size:13px;}

.df_member_ncbtn{width:355px;height:35px;line-height:35px;text-align: center;color:#ffffff;font-size:16px;background-color:#2ea6e2;display:block;margin-left:20px;margin-top:20px;border-radius:3px;}

/*实名认证样式结束*/

/*账户充值样式开始*/

#df_member_charge{z-index:10001;

    width:900px;

    _height:740px;

    padding-bottom:20px;

    background:white;

    border:#f8f8f9 1px solid;

    position:absolute;

    left:50%;

    top:20%;

    font-size:12px;

    margin-left:-450px;

    display:none;

    border-radius:5px;}

.df_member_cgh1{

	height:65px;line-height:65px;border-bottom:1px solid #d7dadb;

} 

.df_member_cgh1 span{color:#444;font-size:18px;padding-left:20px;}

.df_member_cgh1 img{padding-left:740px;cursor:pointer;}  

.df_member_cgform{ padding:20px 25px;}

.df_member_cgmoney{border-bottom:1px solid #ececec;padding-bottom:10px;}

.df_member_cgmoney label{width:90px;height:36px;line-height:36px;text-align: center;color:#444;font-size:14px;display:inline-block;}

.df_member_cgmoney input{width:155px;height:36px;border:1px solid #ececec;border-radius:3px;color:#666666;font-size:12px;text-indent:5px;}

.df_member_cgmoney span{padding-left:30px;color:#444;font-size:14px;}

.df_member_cgmoney span strong{font-size:12px;color:#898989;}

.df_member_cglc{color:#444;font-size:14px;padding:10px 0 10px 90px;}

.df_member_cglc  input{padding-right:10px;}



.df_member_cgtype{padding:10px 0;overflow:hidden;}

.df_member_cgtype label{display:inline-block;width:90px;height:36px;line-height:36px;text-align: center;color:#444;font-size:14px;float:left;}

.df_member_cgws{float:left;}

.df_member_cgws span{padding:8px 8px;}

.df_member_cgwsimg {border:1px solid #ececec;}

.df_member_cgwsimgcurrent{border:1px solid #2ea6e2;}

.df_member_cgdsf{float:left;padding-left:30px;}

.df_member_cgdsf span{padding:8px 8px;}



.df_member_xcbank{padding:10px 0;clear:both;overflow:hidden;}

.df_member_xcbank  label{display:block;width:90px;height:100px;line-height:36px;text-align: center;color:#444;font-size:14px;float:left;}

.df_member_xcbzhwper{float:left;overflow:hidden;width:750px;}

.df_member_pl30{padding-left:30px;}

.df_member_pl50{padding-left:50px;}

.df_member_pt20{padding-top:20px;}

.df_member_xcbzh{float:left;}

.df_member_xcbzh span{padding:8px 8px;}

.df_member_xcbzselect{height:34px;width:125px;color:#368ebb;font-size:14px;border:none;background:transparent;}

.df_member_xcmore{width:107px;height:34px;background:url(../images/zbkicon1.jpg) no-repeat scroll right 12px;overflow:hidden;}

.df_member_banklist img{padding:20px 0 20px 110px;}

.df_member_blbtn{width:100px;height:40px;line-height:40px;text-align: center;color:#ffffff;font-size:14px;display:block;margin-left:720px;background-color:#52bff6;border-radius:3px;}

.df_member_cghelp{padding:20px 20px;border-top:1px solid #666;margin-top:20px;}

.df_member_cghelpspan1{color:#444;font-size:14px;}

.df_member_cghelpspan1 a{color:#ff9900;font-size:14px;}

.df_member_cghelpspan2{color:#000;font-size:16px;font-weight:600;margin-left:430px;}

.df_member_cghelpspan2 strong{font-size:18px;}

/*提现弹出框 开始*/

#df_member_deposit{z-index:10001;

    width:625px;

    _height:530px;

    

    background:white;

    border:#f8f8f9 1px solid;

    position:absolute;

    left:50%;

    top:20%;

    font-size:12px;

    margin-left:-312px;

    display: none;

    border-radius:5px;}

.df_member_dph1{height:60px;line-height:60px;}

.df_member_dph1 span{color:#444;font-size:18px;padding-left:20px;}

.df_member_dph1 img{padding-left:420px;cursor:pointer;}

.df_member_dpfir{padding:10px 0px;border-bottom:1px solid #ececec;text-align: center;}



.df_member_dpform{padding-top:20px;}

.df_member_dpfp1{text-align: center;padding-bottom:40px;color:#444;font-size:18px;}

.df_member_dpfp1 span{color:#8fd6ff;font-size:14px;}

.df_member_dpfp1 span strong{font-size:16px;}

.df_member_dpname{padding-left:130px;padding-bottom:10px;}

.df_member_dpform label{display:inline-block;width:80px;height:40px;line-height:40px;text-align:right;padding-right:30px;color:#444;font-size:14px;}

.df_member_dpname span{color:#444;font-size:14px;}

.df_member_dpcard{padding-left:130px;padding-bottom:20px;overflow:hidden;}

.df_member_dpcard label{float:left;}

.df_member_dpcselect{width:215px;height:40px;border:1px solid #049abb;float:left;background:url(../images/zbkicon1.jpg) no-repeat scroll 190px 15px;border-radius:3px;overflow:hidden;_border:none;}

.df_member_dpcselect select{width:235px;height:40px;border:none;color:#444;font-size: 14px;text-indent:5px;background:transparent; _font-family:60px;outline:none;}

.df_member_dpmoney{clear:both;padding-left:127px;padding-bottom:20px;color:#444;font-size:14px;}

.df_member_dpmoney input{width:215px;height:40px;border:1px solid #ececec;border-radius:3px;}

.df_member_dpnext{padding:20px 30px;background-color:#f8fdfc;text-align: right;}

.df_member_dpnext a{width:70px;height:40px;line-height:40px;text-align: center;color:#898989;font-size:14px;display:inline-block;border-radius:5px;}

.df_member_dpnext .df_member_dpnextcur{background-color:#52bff6;color:#ffffff;}

/*end 提现样式*/

/*银行卡样式开始*/

.df_member_bch4{height:50px;line-height:50px;border-bottom:2px solid #ececec;}

.df_member_bcspan1{color:#898989;font-size:16px;font-weight:600;}

.df_member_bcspan2{color:#999;font-size: 14px;font-weight:600;margin-left:520px;}

.df_member_bccard_wper{padding-top:20px;}

.df_member_bccard1{width:380px;height:230px;border:1px dashed #ececec;border-radius:5px;line-height:230px;text-align: center;font-size:18px;color:#898989;font-weight:500;float:left;}

.df_member_bccard22{width:380px;height:230px;border:1px dashed #D7D8DC;border-radius:5px;font-size:16px;color:#898989;background:url(../images/cmm_bankvr.png) no-repeat left top;}

.df_member_bccard22 ul{ padding-left:70px; padding-top:50px;}

.df_member_bccard22 ul li{ height:35px; line-height:35px;}



.df_member_bccard1:hover{background-color:#f0f0f0;border:1px dashed #000;}

.df_member_bacard_bg{background-color:#f0f0f0;border:1px dashed #000;}

.df_member_ml10{margin-left:10px;}

#df_member_bcdetail{

	z-index:10001;

    width:670px;

    _height:730px;

    

    background:white;

    border:#f8f8f9 1px solid;

    position:absolute;

    left:50%;

    top:10%;

    font-size:12px;

    margin-left:-335px;

    display: none;

    border-radius:5px;

}

.df_member_bcdh2{height:60px;line-height:60px;padding:0 30px;border-bottom:1px solid #ececec;}

.df_member_bcdh2 span{color:#444;font-size:16px;}

.df_member_bcdh2 img{margin-left:480px;}

.df_member_bcdetail{height:50px;margin:30px 35px;width:600px;background-color:#d9edf7;border:1px solid #bce8f1;border-radius:3px;line-height:50px;text-indent:20px;color:#31708f;font-size:14px;}

.df_member_bcdetail span{font-weight:500;font-size:16px;padding-left:10px;}



.df_member_bcd_box{padding-left:80px;}

.df_member_bcdform label{width:120px;padding-right:20px;height:40px;line-height:40px;text-align:right;color:#444;font-size:14px;display:inline-block;}

.df_member_bcd_user span{color:#444;font-size:14px;}

.df_member_pb20{padding-bottom:20px;}

..df_member_bcd_cnum{clear:both;}

.df_member_bcd_cnum input{width:260px;height:40px;border:1px solid #444;border-radius:3px;}

.df_member_bcd_xcbank {clear:both;overflow:hidden;}

.df_member_bcd_xcbank label{float: left;margin-right:5px;}

.df_member_xcb_select{float:left;width:260px;height:40px;border-radius:3px;overflow:hidden;text-indent:5px;}

.df_member_xcb_selectbg1{background:url(../images/zbc02.jpg) no-repeat scroll 240px 15px #2ea6e2;_background:none;}



.df_member_xcb_selectbg2{background:url(../images/zbc03.jpg) no-repeat scroll 240px 15px ;border:1px solid #2ea6e2;_border:none;}

.df_member_xcb_select select{width:280px;height:40px;background:transparent;border:none;outline:none;font-size: 14px;}

.df_member_bcd_province{clear:both;}

.df_member_bcd_province input{width:260px;height:40px;border:1px solid #2ea6e2;}

.df_member_bcd_check {color:#2ea6e2;font-size: 14px;padding-left:150px;}

/*end */

/*基本信息样式开始*/

.df_member_baseinfo_fir{overflow:hidden;padding-top:20px;padding-bottom:20px;}

.df_member_bif_left{float:left;text-align: center;}

.df_member_bifl_picsize{width:100px;height:100px;border:1px solid #ececec;border-radius:3px;}

.df_member_bif_left a{font-size:12px;color:#444444;}

.df_member_bif_right{padding-left:20px;float:left;}

.df_member_bif_right h2{color:#666;font-size:18px;padding-bottom:10px;}

.df_member_bifr_zlwz{overflow:hidden;padding-bottom:5px;}

.df_member_bifr_zlwz span{display:inline-block;float:left;color:#444;font-size:14px;padding-right:5px;}

.df_member_bifr_zlwz em{display:inline-block;float:left;color:#666;font-size:14px;padding-left:10px;}

.df_member_bif_presswper{width:300px;height:6px;border-radius:3px;background-color:#a4e1ff;float:left;margin-top:8px;_overflow:hidden;}

.df_member_bif_press{width:50%;height:6px;border-radius:3px;background-color:#2ea6e2;}

.df_member_biful{clear:both;overflow:hidden;padding-left:70px;}

.df_member_biful li{float:left;padding:0 5px;}

/*修改图像弹出框样式开始*/

#df_member_picchange{z-index:10001;

    width:625px;

    _height:500px;

    padding-bottom:40px;

    background:white;

    border:#f8f8f9 1px solid;

    position:absolute;

    left:50%;

    top:20%;

    font-size:12px;

    margin-left:-312px;

    display: none;

    border-radius:5px;}

.df_member_pch1{height:60px;line-height:60px;border-bottom:1px solid #ececec;}

.df_member_pch1 span{color:#444;font-size:16px;padding-left:20px;}

.df_member_pch1 img{margin-left:470px;}

.df_member_pc_choose{padding-left:100px;padding-bottom:10px;padding-top:20px;}

.df_member_pcc_span1{width:115px;height:42px;text-align:center;line-height:42px;color:#f3f3f3;font-size:14px;background:url(../images/jiahao.png) no-repeat scroll 10px center;background-color:#ff9900;display:inline-block;border-radius:5px;cursor:pointer;}

.df_member_pcc_spanafter{background-color:#e3e5e6;}

.df_member_pcc_span2{color:#444;font-size:14px;display:inline-block;margin-left:20px;cursor:pointer;}

.df_member_pc_tip{color:#1c232e;font-size:14px;height:35px;line-height:35px;width:420px;background-color:#d0efff;margin-left:100px;text-indent:10px;}

.df_member_pc_photo{padding-left:100px;}

.df_member_pcpimg{padding:10px 0;}

.df_member_scphoto{width:100px;height:100px;}

.df_member_pcpimg span{color:#444;font-size:14px;line-height:25px;}

.df_member_scbtn{width:60px;height:40px;border-radius:3px;line-height:40px;text-align:center;color:#fff;font-size:14px;background-color:#2ea6e2;display:inline-block;}

.df_member_baseinfo_detail{width:580px;}



.df_member_hr{width:580px;background-color:#ececec;height:1px;_overflow:hidden;}

/*.df_member_did_box{padding:20px 0;}*/

.df_member_didb_name{padding:10px 0 10px 0px;}

.df_member_didb_name span{color:#444;font-size:14px;display:inline-block;}

.df_member_didb_span2{width:160px;padding-left:40px;}

.df_member_didb_span1{width:90px;padding-left:30px;}

.df_member_didb_revise{width:90px;height:23px;border:1px solid #2ea6e2;color:#2ea6e2;font-size:14px;text-align: center;line-height:23px;margin-left:130px;display:inline-block;border-radius:3px;}

.df_member_reviseafter1{background-color:#f3f4f8;}

.df_member_name_rev{padding:10px 0;}

.df_member_name_rev label{display:inline-block;width:140px;text-align: center;height:35px;line-height:35px;color:#444;font-size:14px;}

.df_member_name_rev  input{width:350px;height:35px;text-indent:10px;border:1px solid #ececec;border-radius:3px;color:#666;font-size:12px;}

.df_member_name_revtip{padding:10px 0 10px 140px;color:#2ea6e2;font-size:14px;}

.df_member_name_revbtn{padding:10px 0 10px 280px;}

.df_member_name_btn1{display:inline-block;width:90px;height:25px;border:1px solid #2ea6e2;background-color:#fff;text-align: center;line-height:25px;color:#2ea6e2;border-radius:3px;}

.df_member_name_btn2{display:inline-block;width:90px;height:25px;background-color:#2ea6e2;text-align: center;line-height:25px;color:#fff;margin-left:30px;border-radius:3px;}

.df_member_yxbtn{width:90px;height:25px;color:#ffffff;font-size:14px;text-align: center;line-height: 25px;display:inline-block;margin-left:130px;background-color:#2ea6e2;border-radius:3px;}

.df_member_yzbtn{width:100px;height:35px;line-height:35px;color:#ffffff;font-size:14px;text-align: center;background-color:#52bff6;margin-left:30px;display:inline-block;border-radius:3px;}

.df_member_name_rev .df_member_yzinput{width:200px;height:35px;line-height:35px;font-size:12px;color:#666;border:1px solid #ececec;border-radius:3px;text-indent:10px;}




.data_table td{ line-height: 30px; padding: 10px 0; font-size: 13px; position: relative;}
input.input_text{ width:230px; padding:0 4px; height:28px; line-height:28px; border:1px solid #cccccc;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; font-size:14px;-webkit-transition:0.5s ease all;-moz-transition:0.5s ease all;transition:0.5s ease all;}
.input_select{ height: 30px;border:1px solid #cccccc;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;-webkit-transition:0.5s ease all;-moz-transition:0.5s ease all;transition:0.5s ease all;}
.input_textarea{ line-height: 24px; padding: 0 4px; font-size: 14px; border:1px solid #cccccc;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px; -webkit-transition:0.5s ease all;-moz-transition:0.5s ease all;transition:0.5s ease all;}
.input_textarea.w_430{ width: 430px;}
/*invest_recharge*/
.invest_recharge li{ overflow:hidden; width:728px;}
.invest_name{ width:93px; float:left; line-height:40px; font-size:14px;}
.invest_radio{ width:630px; float:left;}

.recharge_radio{ width:172px; height:33px; border:1px solid #d5d5d5; float:left; margin-right:36px; cursor:pointer;}

.recharge_radio .recharge_right{ width:137px; height:33px; line-height:33px; float:right; text-align:center; font-size:14px; border-left:1px solid #d5d5d5;}

.bank_radio{ width:180px; height:36px; border:1px solid #d5d5d5; float:left; cursor:pointer; margin:0 28px 22px 0;}

.bank_radio span{width:143px; height:36px; display:block; float:right; overflow:hidden; text-indent:-999px; border-left:1px solid #d5d5d5;}
.bank_bg{background:url(../images/bank_radio.jpg) no-repeat;}
.bank_rightICBC{ background-position:-143px 0;}
.bank_rightCMB{ background-position:-286px 0;}
.bank_rightCITIC{ background-position:0 -36px;}
.bank_rightGDB{ background-position:-143px -36px;}
.bank_rightCBHB{ background-position:-286px -36px;}
.bank_rightABC{ background-position:0 -72px;}
.bank_rightPSBC{ background-position:-143px -72px;}
.bank_rightCMBC{ background-position:-286px -72px;}
.bank_rightCCB{ background-position:0 -108px;}
.bank_rightCOMM{ background-position:-143px -108px;}
.bank_rightSPDB{ background-position:-286px -108px;}
.bank_rightCZB{ background-position:0 -144px;}
.bank_rightSZPAB{ background-position:-143px -144px;}
.bank_rightCEB{ background-position:-286px -144px;}
.bank_rightBCCB{ background-position:0 -180px;}
.bank_rightNJCB{ background-position:-143px -180px;}
.bank_rightCIB{ background-position:-286px -180px;}
.bank_rightHXB{ background-position:0 -216px;}
.bank_rightBOS{ background-position:-143px -216px;}

.recharge_radio.hover,.bank_radio.hover{ border:1px solid #f39c12;}
.recharge_radio.checked,.bank_radio.checked{ border:1px solid #f39c12; background:url(../images/recharge_radio.png) no-repeat 8px 8px;}
.recharge_radio.checked .recharge_right,.bank_radio.checked .bank_bg{ border-left:1px solid #f39c12;}

.invest_recharge .but{ width:200px; margin:0 auto;}
.bank_input{ border-top:1px solid #ededed; padding-top:15px;}

.add_bank:hover{}


#bank_shortcut{ display:none;}




/*回款日历*/
.calendarBox{width:100%;}
.recycle_con{ width:300px; height:170px; position:relative; }
.recycle_detail{ padding:20px; border:1px solid #eee; background:#fff; }
#calendar_control{/*background:#a3a3b4;*/}
#calendar_control input{min-width:inherit;}
#calendarBox{width:100%;height:100%;}
#calendar_upY,#calendar_upM,#calendar_dnM,#calendar_dnY{ border:none; color:#898989; cursor:pointer; }
#calendar_str{cursor:pointer;text-align:center;font-weight:lighter;}
#calendar_body td{/*background:#f0f0f0;*/cursor:pointer;}
#calendar_body td.taday{ background:url(../images/newcenter/year_bg.png) no-repeat center;/* border-radius:50%; border:1px solid #dedede;*/ }
#calendar_body td.hot{ background:url(../images/newcenter/year_hbg.png) no-repeat center; color:#fff; }
#calendar_body td.newhot{ background:url(../images/newcenter/year_hbg.png) no-repeat center; color:#fff; }
#calendar_body th{/*background:#3f526f;*/color:#999;}
#calendar_body td,#calendar_body th{text-align:center; color:#9b9b9b; font-size:14px; }
#recycle_con .year_pre{ text-align:left; padding-left:10px; }
#recycle_con .year_nex{ text-align:right; padding-right:10px; }























