@charset "utf-8";
/* CSS Document */

.mb35{ margin-bottom:35px; }
.mb15{ margin-bottom:15px; }

.por{ position:relative; }
.poa{ position:absolute; }
.orange{ color:#f9926c; }
.px1000{ width:1000px; margin:0 auto; }
.informationc{ width:100%; min-width:1200px; }
.informationtop{ width:100%; height:238px; background:url(../images/16activites/information/infobg.png) no-repeat left top; z-index:99999; }
.infornav{ width:100%; height:56px; background:url(../images/16activites/information/bg.png) repeat left top; position:relative; z-index: 999999; }
.infornavc{ width:1000px; margin:0 auto;  }
.infornavc span{ display:block; width:96px; cursor:pointer; line-height:30px; vertical-align:middle; font-size:16px; color:#ffeed2; margin:13px 30px 0; float:left; text-align:center; border-radius:5px; position:relative; }
.infornavc span:hover{ background:#fff; color:#919191; }
.infornavc span:hover a{ color:#919191; }
.infornavc span ul{ display:none; width:96px; background:#fff; border-radius:5px; overflow:hidden; position:absolute; left:0; top:24px; padding:10px 0 10px; z-index:9999999; }
#infornavc span ul li a{ display:block; width:96px; text-align:center; height:34px; line-height:34px; vertical-align:middle; font-size:14px; color:#919191; }
#infornavc span ul li a:hover{ color:#f99631; background:url(../images/16activites/information/icon.png) no-repeat 10px center; }
.infornavc span a{ color:#fff; }
.infornavc span a:hover{ color:#f99631; }
.infortitle{ width:1000px; margin:0 auto; }
.infortitle h3{ text-align:center; font-size:24px; color:#fff; font-weight:bold; height:35px; line-height:35px; vertical-align:middle; margin-top:50px; }
.infortitle p{ height:22px; line-height:22px; vertical-align:middle; font-size:18px; color:#fdcb90; text-transform:uppercase; text-align:center; }
.inforcon{ width:100%; min-width:1200px; }
.infortc{ font-size:20px; line-height:32px; vertical-align:middle; color:#9f9f9f; text-align:center; margin-top:32px; margin-bottom:25px; }
.inforline{ width:36px; height:4px; background:#fddb53; border-radius:4px; margin:0 auto; }
.infortc p{ font-size:18px; text-transform:uppercase; color:#fff4d7; }
.infortcon1{ width:1190px; margin:0 auto; height:381px; background:url(../images/16activites/information/inbg1.png) no-repeat left top; }
.infortcon2{ width:1190px; margin:62px auto 0; height:381px; background:url(../images/16activites/information/inbg2.png) no-repeat left top; }
.infortcon1 h3{ text-align:center; font-size:20px; color:#ffbe33; height:27px; line-height:27px; vertical-align:middle; padding:85px 0 95px;  }
.infortcon1ul{ padding-left:75px; }
.infortcon1li{ width:234px; text-align:center; color:#fff; font-size:18px; }
.infortcon1li h4{ margin-bottom:20px; height:27px; line-height:27px; vertical-align:middle; font-weight:bold; }
.infortcon1li p{ font-size:16px; line-height:25px; vertical-align:middle; }
.infortcon1li1,.infortcon1li2{ margin-right:40px; }.infortcon1li3{ margin-right:20px; }
.infortcon2{ padding-bottom:80px; }
.infortcon2 h3{ text-align:center; font-size:20px; color:#ffbe33; height:27px; line-height:27px; vertical-align:middle; padding:85px 0 95px;  }
.infortcon1ul1{ padding-left:96px; }
.infortcon1lione{ width:272px; text-align:center; color:#fff; font-size:18px; }
.infortcon1lione1{ margin-right:94px; }.infortcon1lione2{ margin-right:80px; }
.infortcon1lione h4{ margin-bottom:20px; height:27px; line-height:27px; vertical-align:middle; font-weight:bold; }
.infortcon1lione p{ font-size:16px; line-height:25px; vertical-align:middle; }


/*保障模式*/
.securitycon{ padding:0 12px; width:1176px; margin:0 auto; }
.securitycon h3{ width:1176px; text-align:center; }
.scont{ width:438px; height:292px; padding:25px 55px; background:#fff; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; font-size:16px; line-height:32px; vertical-align:middle; }
.scont h4{ text-align:center; width:438px; height:35px; }
.scont_fl h4{ background:url(../images/16activites/information/sicon1.png) no-repeat center; }
.scont_fr h4{ background:url(../images/16activites/information/sicon2.png) no-repeat center; }
.scont h5{ width:438px; text-align:center; height:42px; line-height:42px; vertical-align:middle; font-size:20px; margin-bottom:20px; color:#f6b650; font-weight:normal; }
.scont p{ text-indent:32px; }
.scon_cen{ width:1060px; padding:0 70px; text-align:center; font-size:16px; line-height:28px; vertical-align:middle; }
.scon_cen h4{ height:35px; line-height:35px; vertical-align:middle; font-size:18px; color:#f6b650; margin-bottom:10px; }
.scon_cen p{ text-align:left; }
.scon_bot1{ width:1174px; height:193px; background:url(../images/16activites/information/sbg1.png) no-repeat left center; padding-left:12px; }
.scon_bfl{ width:254px; text-align:center; font-size:18px; color:#f0b14e; line-height:30px; vertical-align:middle; padding-top:60px; }
.scon_bfr{ width:838px; padding:40px 40px 0; font-size:16px; color:#7d7d7d; line-height:32px; vertical-align:middle; }
.scon_bot2{ width:1174px; height:193px; background:url(../images/16activites/information/sbg2.png) no-repeat left center; padding-left:12px; }


/*联系方式*/
.contactcon{ width:1200px; margin:0 auto; }
.contactcon h3{ width:100%; text-align:center; }
.contact_top{ padding:0 18px; }
.con_tfl{ width:253px; height:201px; background:#fff; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; }
.con_tfl1,.con_tfl2,.con_tfl3{ margin-right:48px; }
.con_tfl{ text-align:center; }
.ct_icon{ width:253px; height:48px; }
.ct_icon1{ background:url(../images/16activites/information/cicon1.png) no-repeat center; }
.ct_icon2{ background:url(../images/16activites/information/cicon2.png) no-repeat center; }
.ct_icon3{ background:url(../images/16activites/information/cicon3.png) no-repeat center; }
.ct_icon4{ background:url(../images/16activites/information/cicon4.png) no-repeat center; }
.con_tfl h5{ font-size:16px; color:#fead00; height:35px; line-height:35px; vertical-align:middle; }
.con_tfl p{ font-size:18px; font-weight:bold; color:#ca9673; height:32px; line-height:32px; vertical-align:middle; }
.con_cen{ text-align:center; font-size:18px; line-height:30px; vertical-align:middle; }
.con_cenc{ padding:65px 85px 0;  }
.con_cfl{ width:279px; height:295px; background:#fff; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; }
.con_cfl1,.con_cfl2{ margin-right:93px; }
.cc_icon{ width:279px; height:50px; }
.con_cfl{ line-height:20px; vertical-align:middle; font-size:14px; color:#ca9673; }
.cc_icon1{ background:url(../images/16activites/information/cicon5.png) no-repeat center; }
.cc_icon2{ background:url(../images/16activites/information/cicon6.png) no-repeat center; }
.cc_icon3{ background:url(../images/16activites/information/cicon7.png) no-repeat center; }
.wb{ width:166px; height:127px; background:#ffae3f; border-radius:20px; line-height:142px; vertical-align:middle; margin:15px auto 0; padding-top:15px; }
.con_bot{ text-align:center; font-size:18px; line-height:32px; vertical-align:middle; color:#9c9181; }
.contact_map{ width:100%; height:405px; background:#0F0; }



/*信息报告*/
.capitalcon{ width:1198px; margin:0 auto; height:302px; overflow: hidden; }
.cprev{ width:35px; height:302px; background:url(../images/16activites/information/prev.png) no-repeat center; }
.cnext{ width:35px; height:302px; background:url(../images/16activites/information/next.png) no-repeat center; }
.capitalimgc{ width:1128px; height:302px; overflow:hidden; } 
.capitalimgc ul li{ width:256px; height:302px; margin:0 13px; position:relative; }
.capitalimgc ul li .bg{ width:256px; height:302px; background:#000; opacity:0; filter:Alpha(opacity=0); position:absolute; top:0; left:0; transition:all ease 0.4s; }
.capitalimgc ul li .cirrow{ width:256px; height:302px; background:url(../images/16activites/information/cirrow.png) no-repeat center; display:block; position:absolute; top:0; left:0; filter:Alpha(opacity=0); opacity:0; transition:all ease 0.4s; z-index:999; }
.capitalimgc ul li:hover .bg{ opacity:0.5; filter:Alpha(opacity=50);}
.capitalimgc ul li:hover .cirrow{ opacity:1; filter:Alpha(opacity=100);}

.aprev{ width:35px; height:280px; background:url(../images/16activites/information/prev.png) no-repeat center; }
.anext{ width:35px; height:280px; background:url(../images/16activites/information/next.png) no-repeat center; }
.annualimgc{ width:1128px; height:280px; overflow:hidden; } 
.annualimgc ul li{ width:350px; height:280px; margin:0 13px; position:relative; }
.atitle{ width:350px; height:50px; line-height:50px; vertical-align:middle; font-size:18px; text-align:center; display:block; background:#fff; opacity:0.5; filter:Alpha(opacity=50); position:absolute; left:0; bottom:0; }



/*业务介绍*/
.layoutc{ width:1200px; margin:10px auto 55px; }
.layoutcon{ height:690px; background:url(../images/16activites/information/map.png) no-repeat center; }
.layoutfl{ width:160px; text-align:center; float:left; }
.layoutimg{ width:160px; height:24px; background:url(../images/16activites/information/licon.png) no-repeat center; }
.layoutfl h4{ width:160px; text-align:center; height:28px; vertical-align:middle; font-size:18px; font-weight:bold; color:#fdbf3d; }
.layoutfl ul li{ margin-bottom:25px; }
.layoutfl ul li a{ display:block; width:158px; height:28px; font-size:15px; color:#a1a1a1; border:1px solid #a1a1a1; border-radius:50px; }
.layoutfl ul li a:hover{ color:#fea100; border:1px solid #fea100; }
.layoutfl1,.layoutfl2,.layoutfl3,.layoutfl4,.layoutfl5,.layoutfl6,.layoutfl7,.layoutfl8{ margin:0 70px; }
.layoutdetailc{ width:1200px; margin:0 auto; }
.tomore{ display:block; font-size:16px; color:#feaf27; height:38px; line-height:38px; vertical-align:middle; padding-left:25px; background:url(../images/16activites/information/lyicon.png) no-repeat left center; margin-top:10px; }
.ldimg{ width:1200px; height:24px; background:url(../images/16activites/information/licon.png) no-repeat center; }
.ldnav h4{ width:1200px; text-align:center; height:28px; vertical-align:middle; font-size:18px; font-weight:bold; color:#fdbf3d; }
.ldnav ul{ padding-left:205px; }
.ldnav ul li{ float:left; cursor:pointer; margin-right:50px; display:block; width:158px; text-align:center; height:28px; font-size:15px; color:#a1a1a1; border:1px solid #a1a1a1; border-radius:5px; }
.ldnav ul li:hover,#ldnav .ldnav_on{ color:#fea100; border:1px solid #fea100; }
.ldcon{ width:1178px; margin:30px auto 80px; height:410px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; overflow:hidden; }
.ldmap{ width:590px; height:410px; border-radius:0 10px 10px 0; }
.ldtxt{ width:550px; padding-left:30px; }
.ldtxtc ul{ margin-top:35px; }
.ldtxtc p{ line-height:30px; vertical-align:middle; font-size:16px; }
.ldtxtc h3{ margin-bottom:45px; height:27px; line-height:27px; vertical-align:middle; font-size:18px; color:#f9ba36; font-weight:bold; margin-top:30px; }
.ldtxtc ul li{ margin-right:10px; }
.teamworkc{ width:1200px; margin:0 auto; padding-top:30px; }
.teamworkc ul li{ padding:30px 20px 30px 40px; width:1138px; border:1px solid #f1f1f1; border-radius:5px; margin-bottom:20px; }
.twlogo{ width:300px; }
.twcon{ width:805px; font-size:14px; line-height:28px; vertical-align:middle; }
.twimgc a{ display:block; margin-right:10px; float:left; }



/*关于我们*/
.aboutuscon{ position:relative; height:367px; padding-bottom:80px; }
.aboutusc_top{ width:1178px; height:392px; position:absolute; top:-25px; left:50%; margin-left:-589px; background:#fff; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; }
.aboutus_txt{ padding:65px 40px 0 25px; width:783px; font-size:14px; line-height:26px; vertical-align:middle; background:url(../images/16activites/information/linebg.png) repeat-x left top; }
.aboutus_txt p{ margin-bottom:20px; }
.aboutuscc{ width:1200px; height:285px; margin:0 auto; background:url(../images/16activites/information/aboutus_cen.png) no-repeat center; }
.aboutus_team{ width:1170px; margin:0 auto 80px; }
.aboutus_team li{ width:380px; cursor:pointer; float:left; height:249px; opacity:0.5; filter: Alpha(opacity=50); transition: .1s transform; transform: translateZ(0);/* hack */ position:relative; border-radius:10px; padding:5px; background:rgb(255,255,255,0.5); }
.aboutus_team li:hover{ transform: scale(1.2, 1.2); transition: .3s transform; opacity:1; filter: Alpha(opacity=100); z-index:1; border-radius:10px; box-shadow:0 0 5px #a2a2a2; padding:5px; background:rgb(255,255,255,0.5); }


/*基本信息*/
.basiccon{ width:1178px; margin:0 auto; }
.basic_tal{ width:100%; margin:30px auto 50px; }
.basic_tal td{ border-collapse:collapse; border-spacing:0; border:1px solid #dcdcdc; text-align:center; padding:15px 0; font-size:16px; }
#basic_tal .basic_on{ width:70%; text-align:left; padding-left:60px; }
.basiccon1{ width:100%; background:#fdfdf9; padding:20px 0; }
.basicc1{ width:1178px; margin:0 auto; padding:0 11px; text-align:center; font-size:18px; color:#bab1a6; line-height:32px; vertical-align:middle; } 
.bs1{ width:1178px; height:390px; background:url(../images/16activites/information/bs1.png) no-repeat center 40px; }
.basiccon2{ width:100%; padding:20px 0; }
.bs2{ width:1178px; margin:0 auto; height:450px; background:url(../images/16activites/information/bs2.png) no-repeat center; }
.bs3{ width:1178px; margin:0 auto; height:450px; background:url(../images/16activites/information/bs3.png) no-repeat center; }
.bs4{ width:1178px; margin:0 auto; height:450px; background:url(../images/16activites/information/bs4.png) no-repeat center; }

/*资质荣誉*/
.honerc{ padding:43px 150px 72px; width:900px; margin:0 auto; }
.honerc ul li{ width:288px; height:473px; position:relative; }
.honerc ul li .hbg{ width:288px; height:413px; background:#000; opacity:0; filter:Alpha(opacity=0); position:absolute; top:0; left:0; transition:all ease 0.4s; }
.honerc ul li .hcirrow{ width:288px; height:413px; background:url(../images/16activites/information/cirrow.png) no-repeat center; display:block; position:absolute; top:0; left:0; opacity:0; filter:Alpha(opacity=0); transition:all ease 0.4s; z-index:999; }
.honerc ul li p{ width:288px; text-align:center; font-size:20px; height:40px; line-height:40px; vertical-align:middle; position:absolute; left:0; bottom:0; }
.honerc ul li:hover .hbg{ opacity:0.5; filter:Alpha(opacity=50);}
.honerc ul li:hover .hcirrow{ opacity:1; filter:Alpha(opacity=100);}
.honerc1{ padding:31px 0 57px; width:100%; background:#fdfdf9; }
.honerc1c{ padding:0 150px; width:900px; margin:0 auto; }
.honerc1c ul li{ width:332px; height:286px; position:relative;  }
.honerc1c ul li .hbg{ width:332px; height:240px; background:#000; opacity:0; filter:Alpha(opacity=0);  position:absolute; top:0; left:0; transition:all ease 0.4s; }
.honerc1c ul li .hcirrow{ width:332px; height:240px; background:url(../images/16activites/information/cirrow.png) no-repeat center; display:block; position:absolute; top:0; left:0; filter:Alpha(opacity=0); opacity:0; transition:all ease 0.4s; z-index:999; }
.honerc1c ul li p{ width:332px; text-align:center; font-size:20px; height:36px; line-height:36px; vertical-align:middle; position:absolute; left:0; bottom:0; }
.honerc1c ul li:hover .hbg{ opacity:0.5; filter:Alpha(opacity=50);}
.honerc1c ul li:hover .hcirrow{ opacity:1; filter:Alpha(opacity=100);}
.honerc2{ padding:54px 150px 80px; width:900px; margin:0 auto; }
.honerc2c{ width:900px; margin:0 auto; }
.honerc2c ul li{ width:329px; height:263px; position:relative;  }
.honerc2c ul li .hbg{ width:329px; height:217px; background:#000; opacity:0; filter:Alpha(opacity=0); position:absolute; top:0; left:0; transition:all ease 0.4s; }
.honerc2c ul li .hcirrow{ width:329px; height:217px; background:url(../images/16activites/information/cirrow.png) no-repeat center; display:block; position:absolute; top:0; left:0; filter:Alpha(opacity=0); opacity:0; transition:all ease 0.4s; z-index:999; }
.honerc2c ul li p{ width:329px; text-align:center; font-size:20px; height:36px; line-height:36px; vertical-align:middle; position:absolute; left:0; bottom:0; }
.honerc2c ul li:hover .hbg{ opacity:0.5; filter:Alpha(opacity=50);}
.honerc2c ul li:hover .hcirrow{ opacity:1; filter:Alpha(opacity=100);}

/*管理团队*/
.teamc{ width:1178px; margin:40px auto 80px; }
.teamone{ width:1093px; height:252px; margin:22px 0; position:relative; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; padding-top:35px; padding-right:85px; }
.teamone_l{ width:337px; height:331; position:absolute; left:-1px; top:-22px; }
.teamone_r{ width:; padding-left:365px; }
.teamone_r h3{ height:60px; line-height:60px; vertical-align:middle; font-size:22px; font-weight:bold; border-bottom:1px solid #eee; /*margin-bottom:35px;*/ }
.teamone_r h5{ height:28px; line-height:28px; vertical-align:middle; font-size:18px; text-transform:uppercase; font-weight:bold; margin-bottom:12px; color:#fff7ea; }
.teamone_r p{ font-size:16px; line-height:30px; vertical-align:middle; color:#8a8a8a; }
.tposition{ color:#dad9d9; }
.teamc ul{ margin-top:57px; }
.teamc ul li{ width:1178px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; margin:42px 0; height:277px; position:relative; }
.team_fl{ padding-top:35px; padding-left:75px; width:770px;} 
.team_fl h3{ height:60px; line-height:60px; vertical-align:middle; font-size:22px; font-weight:bold; border-bottom:1px solid #eee; }
.team_fl h5{ height:28px; line-height:28px; vertical-align:middle; font-size:18px; text-transform:uppercase; font-weight:bold; margin-bottom:12px; color:#fff7ea; }
.team_fl p{ font-size:16px; line-height:30px; vertical-align:middle; color:#8a8a8a; }
.team_fr{ position:absolute; right:-1px; top:-11px; }


/*发展历程*/
.infornavcl{ width:100%; height:98px; position:relative; }
.infornavcon{ width:1200px; height:94px; margin:0 auto; position:absolute; left:50%; margin-left:-600px; top:4px; z-index:10; }
.infornavline{ width:100%; height:8px; background:#fddb53; position:absolute; left:0; top:68px; z-index:9; }
.htyyears{ width:1000px; height:94px; overflow:hidden; position:relative; }
.htyyears ul{ position:absolute; left:0; top:0; }
.htyyears ul li{ width:250px; color:#fff; float:left; font-size:20px; transition:all ease 0.4s; cursor:pointer; }
.htyyears ul li:hover,#htyyears .htyy_on{ font-size:24px; font-weight:bold; }
.htyyears ul li:hover h3{ font-weight:bold; }
/*.htyyears ul li:hover .htyy_on{ background:url(../images/16activites/information/htyiconh.png) no-repeat center }*/
.htyyears ul li:hover h5{ background:url(../images/16activites/information/htyiconh.png) no-repeat center; }
#htyyears .htyh_on{ background:url(../images/16activites/information/htyiconh.png) no-repeat center; }
.htyyears ul li h3{ width:250px; height:40px; text-align:center; line-height:40px; vertical-align:middle; }
.htyyears ul li h5{ width:250px; height:54px; background:url(../images/16activites/information/htyicon.png) no-repeat center; }
.htyprev,.htynext{ display:block; width:100px; height:71px; }
.htyprev{ background:url(../images/16activites/information/htyprev.png) no-repeat left center; }
.htynext{ background:url(../images/16activites/information/htynext.png) no-repeat right center; }
.htyeventc{ width:1182px; margin:50px auto 73px; }
.htyeventc ul li{ width:318px; height:172px; border:1px solid #fee7ca; border-radius:5px; padding:15px 30px; margin:7px; float:left; line-height:35px; vertical-align:middle; }
.htyeventc ul li h3{ width:338px; text-align:center; font-size:23px; color:#fddb53; margin-bottom:10px; }
.htyeventc ul li p{ font-size:15px; line-height:25px; margin-bottom:2px; }


/*月刊*/
.monthcon{ width:1200px; margin:50px auto 60px; }
.monthcon ul li{ width:258px; height:204px; border:1px solid #ffdba8; margin:20px; float:left; }
.monthcon ul li h4 a{ display:block; width:258px; height:60px; line-height:60px; vertical-align:middle; font-size:17px; text-align:center; background:url(../images/16activites/information/micon.png) no-repeat 230px center; cursor:pointer; }
.monthcon ul li h4 a:hover{ display:block; color:#ffac40; background:url(../images/16activites/information/miconh.png) no-repeat 230px center; }




/*实时财务*/
.financialtop{ width:100%; height:326px; background:url(../images/16activites/information/finalbg.png) no-repeat left top; }
.findatac{ width:1200px; margin:45px auto 0; }
.findatac .w302{ width:302px; text-align:center; }.findatac .w294{ width:294px; text-align:center; }
.findatac h4{ height:35px; line-height:35px; vertical-align:middle; font-size:16px; color:#fff; text-shadow:2px 2px 3px #f46c4e; }
.findatac p{ height:55px; line-height:55px; vertical-align:middle; font-size:28px; font-weight:bold; color:#fff; text-shadow:2px 2px 3px #f46c4e; }
.fincon{ width:1178px; margin:0 auto; padding:30px 0 80px; }
.finc1{ width:1136px; height:400px; padding:30px 20px 30px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; position:relative; }
.finc1nav{ padding:0 55px; position:absolute; width:1066px; top:80px; }
.finc1con{ width:1136px; height:400px; overflow:hidden; }
.finc2{ width:1178px; height:425px; margin:30px auto; }
.finc2c{ width:542px; height:375px; padding:30px 15px 20px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; }
.finc3{ width:1128px; height:305px; padding:30px 30px 20px 20px; margin:0 auto; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; }
.finc4{ width:1178px; margin:30px auto; }
.finc4c{ width:570px; height:933px; padding:15px 1px 20px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; }
.finc4c h3{ width:570px; text-align:center; font-size:22px; color:#ffb67b; height:40px; line-height:40px; vertical-align:middle; margin-bottom:30px; }
.finc4iconcli{ width:190px; text-align:center; }
.finc4iconcli h4{ height:32px; line-height:32px; vertical-align:middle; width:190px; text-align:center; font-size:22px; color:#ffb400; font-weight:bold; }
.finc4iconcli p{ font-size:15px; color:#f9a73e; height:26px; line-height:26px; vertical-align:middle; width:190px; text-align:center; }
.f4ilimg{ width:190px; height:62px; }
.f4ilimg1{ background:url(../images/16activites/information/finaicon1.png) no-repeat center; }
.f4ilimg2{ background:url(../images/16activites/information/finaicon2.png) no-repeat center; }
.f4ilimg3{ background:url(../images/16activites/information/finaicon3.png) no-repeat center; }
.f4c{ width:530px; padding-left:40px; }

.f4c h2{ height:32px; line-height:29px; vertical-align:middle; font-size:19px; color:#ffad75; margin:30px auto 20px; padding-left:18px; background:url(../images/16activites/information/hicon.png) no-repeat left center; }
.sexwc{ width: 145px; text-align:center; padding-top:25px; }
.sexwc img{ margin:6px auto;}
.sexwc p{ line-height: 18px; vertical-align:middle; font-size:18px; }




.f4cimg3 ul li{ width:468px; padding:5px 10px 5px; font-size:15px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; margin-bottom:10px; cursor:pointer; }
.f4cimg3 ul li h5{ height:35px; line-height:35px; vertical-align:middle; }
.f4cimg3 ul li p{ color:#b6b6b6; }
.f4fl{ padding-left:13px; }
.f4fl1{ background:url(../images/16activites/information/f4icon1.png) no-repeat left center; }
.f4fl2{ background:url(../images/16activites/information/f4icon2.png) no-repeat left center; }
.f4fl3{ background:url(../images/16activites/information/f4icon3.png) no-repeat left center; }
.f4fr{ color:#ff9c00; }
.finc5{ width:1114px; /*height:240px;*/ margin:0 auto; padding:15px 32px 35px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; }
.finc5 h3{ width:1154px; height:32px; line-height:32px; font-size:22px; color:#ffb779; margin-bottom:70px; text-align:center; }
.finc5fl{ width:538px; height:44px; background:url(../images/16activites/information/dataimg1.png) no-repeat left top; margin-bottom:50px; }
.finc5fr{ width:539px; height:44px; background:url(../images/16activites/information/dataimg2.png) no-repeat left top; margin-bottom:50px; }
.finc5fl .w193{ width:193px; text-align:center; font-size:17px; color:#fff; height:44px; line-height:44px; vertical-align:middle; }
.finc5fl .w345{ width:345px; text-align:center; font-size:17px; color:#fd8e79; height:44px; line-height:44px; vertical-align:middle; }
.f5data{ font-weight:bold; color:#fffe89; }
.finc5fr .w288{ width:288px; text-align:center; font-size:17px; color:#fff; height:44px; line-height:44px; vertical-align:middle; }
.finc5fr .w135{ width:135px; text-align:center; font-size:17px; color:#fd8e79; height:44px; line-height:44px; vertical-align:middle; }
.finc5fr .w115{ width:115px; text-align:center; font-size:17px; color:#fd8e79; height:44px; line-height:44px; vertical-align:middle; }
.finc6{ width:1146px; padding:20px 16px; border:1px solid #fbeccd; border-radius:10px; box-shadow:0 0 5px #fdedcb; margin-top:30px; }
.sexcl{ width:145px; height:183px; position:relative; }
.sexwc{ position:absolute; left:; top:; z-index:10; }
.sexwr{ position:absolute; left:0; top:0; width:145px; height:145px; z-index:9; }
.sexcl h1{ height:28px; line-height:28px; vertical-align:middle; font-size:15px; width: 145px; text-align:center; position:absolute; bottom:0; left:0;  }
.yearul li{ height:40px; line-height:40px; vertical-align:middle; font-size:15px; color:#949494; }
.ficon{ width:20px; height:40px; }
.ficon1{ background:url(../images/16activites/information/h1icon1.png) no-repeat left center; }
.ficon2{ background:url(../images/16activites/information/h1icon2.png) no-repeat left center; }
.ficon3{ background:url(../images/16activites/information/h1icon3.png) no-repeat left center; }
.ficon4{ background:url(../images/16activites/information/h1icon4.png) no-repeat left center; }
.fage{ width: 75px; padding-left: 10px; }
.fprecision{ width:260px; height:8px; background:#f2f1f1; border-radius:8px; margin-top:16px; position:relative; margin-right:15px; }
.fprecisionnow{ height:8px; border-radius:8px; position:absolute; left:0; top:0; }
.fprecisionnow1{ background:#ffc000; }
.fprecisionnow2{ background:#fff000; }
.fprecisionnow3{ background:#ffd800; }
.fprecisionnow4{ background:#ffa8a1; }
.fnum{ width:95px; padding-left:5px; }

.investstyle{ width: 66px; height:120px; margin:0 22px; /*background:#eee;*/ position:relative; }
.investstylenow{ width:66px; position:absolute; left:0; bottom:0; }
.investstylenow1{ background:#ffae21; }
.investstylenow2{ background:#ffda2c; }
.investstylenow3{ background:#ffa2b8; }
.investstylenow4{ background:#ffd3c5; }
.investstylec li h5{ width:110px; height:35px; text-align:center; border-top:1px solid #ffedd7; line-height:35px; vertical-align:middle; font-size:15px; color:#949494; }
.investstyle p{ position:absolute; width:66px; left:0; font-size:15px; color:#ff9c00; text-align:center; height:24px; line-height:24px; vertical-align:middle; }




































